// Colors
// =============================================================================
$primary-color: #50af32;
$secondary-color: #fab432;
$alternative-color: #f5f2ed;
$text-color: #5b636a;

$text-shadow: 0 0 20px rgba(0,0,0, .4);

// Helper classes
// =============================================================================
.negative-text{
  .h-custom-headline, p, a{
    color: #fff;
  }
}

// Lists
// =============================================================================
ul.checkbox{
  list-style: none;
  margin: 0;
  padding: 0;

  li{

    padding-left: 30px;
    &:before{
      content: '\f00c';
      font-family: "FontAwesome" !important;
      font-style: normal;
      float: left;
      color: $secondary-color;
      font-size: 20px;
      margin-left: -30px;
      padding-right: 10px;

    }
  }
}

// Swap columns on desktop
// =============================================================================
@media (min-width:768px){
  .site .swapcolumns{
    .x-container{
      display: flex;
    }
    .x-column:nth-child(1){
      order:2;
      margin-right: 0;
    }
    .x-column:nth-child(2){
      order:1;
    }

    .x-column.right{
      margin-right: 4%;
    }
  }
}

// Body background
// =============================================================================
body{
  background-size: 360px !important;

  .site{
    background-color: transparent;
  }

}
