// Buttons
// =============================================================================
.site{
  .x-btn, input[type='submit']{
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .06em;
    line-height: 1;
    padding: .8em 1.5em .8em;

    &:hover{
      background-color: darken($secondary-color, 10%);
      text-shadow: none;
      border-color: darken($secondary-color, 10%);
    }

    &.btn-link{
      background-color: transparent;
      color: $secondary-color;
      border: none;
      padding: 0;
      text-transform: none;
      border-radius: 0;
      border-bottom: 3px solid transparent;
      padding-bottom: .2em;

      &:after{
        content: '›';
        padding-left: 7px;
      }

      &:hover{
        border-bottom: 3px solid $secondary-color;
      }
    }
  }
}

// Links
// =============================================================================

.more-link{
  text-decoration: none;
}

// Recent posts
// =============================================================================
.x-recent-posts{
  margin: 0;

  a{
    border: none;
    background-color: transparent;
  }

  .x-recent-posts-date{
    font-weight: 700;
    font-size: 12px;
    color: $secondary-color;
    letter-spacing: .04em;
  }

  .h-recent-posts{
    margin: 5px 0 0 0;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
  }
}

.x-iso-container-posts>.hentry .entry-wrap{
  border: none;
  background-color: rgba(#fff, .7);
}

.entry-featured{
  border: none;
  padding:0;
}

.single-miljovardsmagasinet{
  .p-meta{
    display: none;
  }
}

.single{
  .x-main{
    top: -60px;
    margin-bottom: -60px;
  }
}

// Tab menu
// =============================================================================
.x-nav-tabs{
  border: none;

  & > li a{
    background-color: $primary-color;
    color: #fff;

    &:hover{
      background-color: #fff;;
    }
  }

  &.top > li{
    border-right: 5px solid transparent;

    a{
      border-bottom-color: transparent;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.x-tab-content{
  border: none;

  .x-content-band{
    padding: 0;
    margin: 0;
  }

  p:empty{
    margin: 0;
  }

  h3, h4{
    margin-top: 0;
  }
}

// Forms
// =============================================================================
.flex-layout{
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  .flex-1-2{
    flex: 1 1 48%;
    margin-right: .65em;

    &:nth-child(even){
      margin-right: 0;
    }

    &.input-submit{
      flex:1;
    }
  }
}

.form-group{
  display: flex;
  flex-wrap: wrap;
  margin-right: -1em;

  p{
    flex: 1 0 220px;
    margin-right: 1em;
  }
}

.negative-text{
  input[type='text'], input[type='email'], textarea{
    background-color: lighten($primary-color, 10%);
    color: #fff;

    &::placeholder{
      color: #fff;
    }

    &:focus{
      background-color: lighten($primary-color, 5%);
    }
  }


}
input[type='text'], input[type='email'], input[type='password'], textarea{
  border-width: 0;
  border-radius: 3px;
  font-size: 16px;
  background-color: $alternative-color;

  &:focus{
    background-color: lighten($alternative-color, 3%);
  }
}

textarea{
  height: 100px;
}

//Login form
.x-protect{
  background-color: transparent;
  text-align: left;
  padding: 0;

  input[type="text"], input[type="password"]{
    text-align: left;
  }
}

// Flexslider
// =============================================================================
.x-flexslider{
  background: transparent;

  .flex-control-nav{
    bottom:0;
    right: 50%;
    top: auto;
    transform: translateX(50%);

    a{
      background-color: lighten($secondary-color, 20%);
    }
  }

  .flex-direction-nav{
    a{
      top: 50%;
      color: $secondary-color;
      background-color: transparent;
      font-size: 20px;

      &.flex-prev{
        left: 0;
      }

      &.flex-next{
        left: auto;
        right: 0;
      }
    }

  }
}

// Owl Slider
// =============================================================================
.hero-slider{

  .hero-slider-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    background-size: cover;
    background-position: center center;

    &:before{
      content:'';
      position: absolute;
      background-image: linear-gradient(45deg, rgba(25, 27, 29, 0.2), rgba(25, 27, 29, .6));
      // background: rgba(25, 27, 29, .4);
      top: 0;
      bottom:0;
      left:0;
      right:0;
      display: block;
    }

    @media (min-width:768px){
      height: 70vh;
      min-height: 600px;
    }
  }

  .hero-slider-item-content{
    max-width: 650px;
    text-align: center;
    z-index: 1;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: -50px;

    .h-custom-headline{
      margin-top: 0;
    }

}
  .owl-nav{
    display: none;
  }

  .owl-dots{
    text-align: center;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;

    @media (min-width:900px){
      bottom: 80px;
    }

    .owl-dot{

      &.active{
        span{
          background-color: $secondary-color;
        }
      }

      &:hover{
        span{
          background-color: $secondary-color;
        }
      }
      span{
        width: 12px;
        height: 12px;
        margin: 5px 5px;
        background: rgba($secondary-color, .7);
        display: block;
        -webkit-backface-visibility: visible;
        transition: all .2s ease;
        border-radius: 30px;
      }
    }
  }
}

.certificates-container{
  .owl-nav{
  .owl-prev, .owl-next{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
      color: $secondary-color;
    }
    .owl-prev{
      left: -40px;
      right: auto;

      i:before{
        content: '\f104';
      }
    }

    .owl-next{
      right:-40px;
      left: auto;

      i:before{
        content: '\f105';
      }
    }
  }
  .owl-stage{

  }
}
