// Navbar
// =============================================================================

//Lägg menyn över toppbilden
// .masthead{
//   height: 0 !important;
// }

// .site .x-navbar{
//   background-color: transparent !important;
// }
.x-navbar{

  margin: 0 auto;
  transition: all .4s ease;
  box-shadow: 0 15px 50px 0 rgba(50,50,50,.12);

  .x-navbar-inner{
    // background-image:linear-gradient(rgba(0, 0, 0, 0.25), transparent);
    min-height: 70px;

    @media (min-width: 980px){
      min-height: 90px;
    }
  }

  .brand{
    margin-left: 4%;
  }
  .x-brand{
    margin:0;
    background-image: url('../images/nmv-logo-neg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 126px;
    height: 50px;
    text-indent: -9999px;
    overflow: hidden;
    background-position: 0 100%;
    transition: all .4s ease;

    @media (min-width: 980px){
      width: 175px;
      height: 69px;
    }
  }

  //Offcanvas button
  .offcanvas-menu{
    color: #fff;
    margin-right: 4%;

    .menu-bar-text{
      margin-right: 6px;
      letter-spacing: .08em;
    }

    .menu-bar{
      background-color: $secondary-color;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 500px;
      color: #fff;

      i{
        line-height: 1;
        font-size:1.2em;
        vertical-align: middle;
      }
    }
  }

  //Align navbar
  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    @media (min-width: 980px){
      height: 90px;
    }
  }

  &.x-navbar-fixed-top{
    .desktop{
      .x-nav > li:first-child > a{
        padding-left: 0;
      }
    }
  }

  // Shrink when scroll
  // =============================================================================
  @media (min-width:980px){
    &.shrink{

      background-color: $primary-color !important;
      .x-brand {
        width: 130px;
        height: 51px;

      }

      .x-navbar-inner{
        min-height: 70px;
        background-image: none;
      }

      .flex-container{
        height: 70px;
      }
      .desktop .x-nav > li > a{
        height: 70px;
        padding-top: 26px;
      }

      .x-brand{
        background-image: url('../images/nmv-logo-neg.svg');
      }
      .offcanvas-menu{
        color: #fff;
      }
      .desktop .x-nav > li > a{
        color: #fff !important;
      }

      .desktop .x-nav > li > a:hover > span, .desktop .x-nav > li.x-active > a > span, .desktop .x-nav > li.current-menu-item > a > span{
        box-shadow: 0 2px 0 0 #fff !important;
      }
    }
  }


  //Styling of submenu
  .desktop .x-nav li > a > span:after{
    content: "\f107" !important;
  }

  .desktop .sub-menu{
    // background-color: #fff !important;
    font-size: 17px;
    padding: 0;
    text-align: center;
    width: 260px;
    left: -80px !important;
    right: auto !important;

    &:before{
      content: '';
      display: block;
      position: absolute;
      background-color: #fbfbfb;
      width: 20px;
      height: 20px;
      top: -8px;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: rotate(45deg);
      z-index: -1;
    }


    li{
      border-bottom: 1px solid lighten($primary-color, 40%);

      &:last-child{
        border-bottom: none;
      }
      & > a{
        color: lighten($primary-color, 10%) !important;
        padding: .5em 1em;
        background-color: #fbfbfb;

        &:hover{
          color: $primary-color !important;
        }
      }
    }
  }
}

// When hero image is used
// =============================================================================
// .green-menu, .blog, .single, .page-template-template-portal{
//   .x-navbar{
//
//     .x-brand{
//       background-image: url('../images/nmv-logo-green.svg');
//     }
//     .offcanvas-menu{
//       color: $primary-color;
//     }
//     .desktop .x-nav > li > a{
//       color: $primary-color !important;
//     }
//
//     .desktop .x-nav > li > a:hover > span, .desktop .x-nav > li.x-active > a > span, .desktop .x-nav > li.current-menu-item > a > span{
//       box-shadow: 0 2px 0 0 $primary-color !important;
//     }
//
//     .x-navbar-inner{
//       background-image: none;
//     }
//
//    &.shrink{
//
//      .x-brand{
//       background-image: url('../images/nmv-logo-neg.svg');
//      }
//
//      .offcanvas-menu{
//        color: #fff;
//      }
//
//      .desktop .x-nav > li > a{
//        color: #fff !important;
//      }
//
//      .desktop .x-nav > li > a:hover > span, .desktop .x-nav > li.x-active > a > span, .desktop .x-nav > li.current-menu-item > a > span{
//        box-shadow: 0 2px 0 0 #fff !important;
//      }
//
//    }
//   }
// }

// Mobile nav and Super fly
// =============================================================================

.hide-desktop{
  @media (min-width: 980px){
    display: none;
  }
}

.menu-bar-text{
  @media (max-width: 979px){
    display: none;
  }
}

//Stäng av capetilize
#sfm-sidebar .sfm-menu li a, #sfm-sidebar .sfm-search-form{
  text-transform: none !important;
}




// Dölj toppmenyn i superfly
.sfm-menu-item-39, .sfm-menu-item-38, .sfm-menu-item-37, .sfm-menu-item-36{
  @media (min-width: 980px){
    display: none;
  }

}
