// Base section settings
// =============================================================================

.x-section{
  padding: 80px 0 !important;

  &.no-top-padding{
    padding-top: 0 !important;
  }

  &.no-bottom-padding{
    padding-bottom: 0 !important;
  }

  &.no-padding{
    padding: 0 !important;
  }
}

.section-divider{
  position: relative;
  // margin-top: 200px;

  &:after{
    content: '';
    background: url('../images/section-divider-orangegreen-mobile@2x.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: calc(100% * 57/601) 0 0!important;
    position: absolute;
    left:0;
    right: 0;
    bottom: -1px;

    @media (min-width: 980px){
      background: url('../images/section-divider_x2.png') center center no-repeat;
      padding: 8.125% 0 0 !important;
      background-size: cover;
    }
  }

}

.section-divider-green{
  @extend .section-divider;
  margin-top: 0;
  padding: 0 !important;
  background-color: #fff;

  &:after{
    background: url('../images/section-divider-greenwhite-mobile@2x.png') center center no-repeat;
    background-size: cover;
    padding: calc(100% * 57/601) 0 0!important;

    @media (min-width: 980px){
      background: url('../images/section-divider-green-white@2x.png') center center no-repeat;
      padding: 8.125% 0 0!important;
      background-size: cover;
    }

  }
}

.blog, .single{
  .section-divider{

    margin-top: 50px;

    @media (min-width: 768px){
      margin-top: 130px;
    }
  }
}

// .blog, .single-post, .single{
//   .section-divider{
//     margin-top: 200px;
//   }
// }

// Hero slider
// =============================================================================
.hero-slider{

  // position: relative;

  @extend .section-divider-green;

  // &:before{
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background-image: linear-gradient(left, rgba($alternative-color, .5), transparent);
  //   display: block;
  // }
  // .x-container{
  //   height: 100%;
  // }
  // .x-column{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   min-height: 100%;
  //
  // }

  // .h-custom-headline{
  //   text-shadow: $text-shadow;
  // }
  //
  // .x-text{
  //   text-shadow: $text-shadow;
  // }


}

// Recent posts
// =============================================================================
.section__recent-news{
  background-color: $primary-color !important;
  padding: 10px 0 !important;
  position: relative;


}

// Footer
// =============================================================================
footer.x-colophon{

  &.bottom{
    background-color: #fff;
    color: lighten($text-color, 30%);
    text-align: left;
    font-size: 14px;
    padding: 10px 0;

    a{
      color: $secondary-color;
    }
  }

  .footer-logo{
    max-width: 150px;
  }

  &.top{
    background-color: $primary-color;
    color: #fff;
    padding: 2% 0 2%;

    h4{
      color:#fff;
      margin-top:0;
    }

    form{
      margin: 0;
    }
  }
}

// Main content section
// =============================================================================
.section-main-content{

  margin-top: 2em !important;

  .x-text, .x-block-grid{
    & > h2{
      margin-top: 0;
    }

    padding: 2em;

    @media (min-width:1000px){
      padding: 4em;
    }

    @media (min-width:1000px){
      padding: 6em;
    }

    @media (min-width:1200px){
      padding: 10em;
    }
  }

  .x-column:nth-child(2n){
    min-height: 300px;

    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 768px){
      background-position: center center;
    }
  }
}

// Hero section page
// =============================================================================
.section-page-hero{
  // height: 100vh;
  position: relative;
  padding: 50px 0 !important;

  // @media (min-width: 768px){
  //   height: 50vh;
  // }
  //
  // @media (min-width: 981px){
  //   height: 40vh;
  // }

  &:before{
    content:'';
    position: absolute;
    // background-image: linear-gradient(45deg, rgba($primary-color, .6), rgba($primary-color, .9));
    background-image: linear-gradient(45deg, rgba(25, 27, 29, .4), rgba(25, 27, 29, .6));
    top: 0;
    bottom:0;
    left:0;
    right:0;
    display: block;
  }
  .x-container{
    max-width: 800px !important;
    text-align: center;
    height: 100%;

  }

  .x-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    p{
      margin: 0;
      // text-shadow: $text-shadow;
    }

    .h-custom-headline{
      // text-shadow: $text-shadow;
    }
  }
}

// Block grids
// =============================================================================

.section__overview{
  .x-block-grid{
    h3{
      margin-top:0;
    }
  }

}
.block-grid{

  padding: 2em !important;
  &.block-grid-bg{
    background-color:rgba(#fff, .7);
  }

  .x-btn{
    // margin-top: auto;


  }
}

.equal-height-blockgrid{
  display: flex;
  flex-wrap: wrap;

  li{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
  }

  @media (max-width: 979px){
    &.three-up > li:nth-child(3){
      margin-top: 3em;
    }
  }

  .x-btn{
    margin: auto 0 0 auto;
    display: inline-table;

  }

  .x-recent-posts {
    .h-recent-posts{
      color: $text-color;
    }

    .x-recent-posts-date{
      color: lighten($text-color, 30%);
    }
  }
}

// Single post pages
// =============================================================================
.single{
  article{
    max-width: 800px;
    margin: 0 auto;
  }

  .x-entry-share{
    border-top: 5px solid $secondary-color;
    border-bottom:none;
    max-width: 800px;
    margin: 2em auto 0 auto;
  }

  .entry-title:before{
    background-color: transparent;
    color: $primary-color;
  }

  .x-recent-posts{

    .h-recent-posts{
      color: $primary-color;
    }

    .x-recent-posts-date{
      color: lighten($text-color, 30%);
    }

    a{
      background-color: #fff;
    }

    p{
      margin-bottom: 0;
      line-height: 1.4;
    }
  }
}

// Masthead
// =============================================================================
.x-header-landmark{
  // margin-top: 70px;
  .x-landmark{
    padding-right: 0;
    width: 100%;
  }

  .h-landmark{
    letter-spacing: 0;
    font-weight: 700;
  }
}

// Medarbetarportal
// =============================================================================
.page-template-template-portal{
  .site{
    .portal-content{
      background-color: #fff;
      border-radius: 4px 4px 0 0;
      padding: 2em;
      position: relative;

      .entry-content{
        & > h2, h3, h4{
          margin-top: 0;
        }
      }

      .x-sidebar{
        .h-widget{
          margin-top: 0;
        }
      }

      .logout{
        @media all and (min-width: 981px){
          position: absolute;
          bottom: 2em;
          left:2em;
        }

      }
    }
  }

}

// Contact page
// =============================================================================
.x-map{
  margin-bottom:0;
}
.section-map{
  .x-block-grid{
    margin-bottom: 0;
  }
  .x-map-inner{
    padding-bottom: 300px;

    @media (min-width: 768px){
      padding-bottom: 400px;
    }

    @media (min-width: 1000px){
      padding-bottom: 600px;
    }
  }
}

.location-menu{
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  margin:0;
  padding:0;
  justify-content: center;


  li{
    margin: 0 10px 10px 0;
    line-height: 1;

    &.current{
      a{
        background-color: $primary-color;
      }
    }

    a{
      background-color: lighten($primary-color, 20%);
      display: block;
      padding: .3em .5em;
      color: #fff;

      &:hover{
        background-color: $primary-color;
      }
    }
  }
}

section{
  &.tab-content{
    padding: 50px 0 !important;

    .city-content{
      background-color: $alternative-color;
      border-radius: 4px;
      padding: 2em;;
      h4{
        margin-top: 0;
      }
    }

    .x-block-grid{
      display: flex;
      flex-wrap: wrap;

      & > li{
        margin-top: 3em;
      }

      &.four-up > li:nth-child(3n), &.four-up > li:nth-child(4n) {
        @media (max-width: 979px){
          margin-top: 3em;
        }
      }
    }

    .staff-content{
      font-size: .925em;

      .staff-role{
        font-style: italic;
      }
    }

    .x-ul-icons{
      .x-icon-phone{
        &:before{
          content: '\f095';
        }
      }

      .x-icon-envelope-o{
        &:before{
          content: '\f003';
        }
      }
    }
  }
}

// Partners och certifieringar
// =============================================================================
.section-partners{
  text-align: center;
  padding: 30px 0 50px !important;

  @media (min-width: 768px){
    padding:30px 0 100px !important;
  }

  @media (min-width: 1200px){
    padding: 50px 0 150px !important;
  }
}
