// Responsive breakpoints
// =============================================================================
$breakpoints: (
  small : 480px,
  medium: 768px, // Previously 640px
  large : 1024px
);

$h1-font-sizes: (
	null   : (200%, 1.1),
	small  : 200%,
	medium : 280%,

);

$h2-font-sizes: (
	null   : (180%, 1.2),
	small  : 220%,
	// medium : 250%,
	// large  : 350%,
);

$h3-font-sizes: (
	null   : (150%, 1.2),
	small  : 180%,
	// medium : 200%,
	// large  : 280%,
);

$h4-font-sizes: (
	null   : (120%, 1.2),
	small  : 150%,
	medium : 150%,
	// large  : 280%,
);

// Rubriker
// =============================================================================
.site{
	.x-column, .x-text, .entry-header{
		& > h1:first-child, & > h2:first-child, & > h3:first-child, & > h4:first-child{
			margin-top: 0;
		}
	}

	h1, .h1{
		@include font-size($h1-font-sizes);
	}

	h2, .h2{
		@include font-size($h2-font-sizes);
	}

	h3, .h3{
		@include font-size($h3-font-sizes);
	}

	h4, .h4{
		@include font-size($h4-font-sizes);
	}

	//Marginalen
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		margin-top: 1em;
		margin-bottom: .2em;
	}
}

.h-line{
  &:after{
    content:'';
    width:100px;
    height:6px;
    background-color: $secondary-color;
    display: block;
    text-align: center;
    margin:.4em auto .4em;
  }
}


// Base
// =============================================================================

//Delete top margin on top headlines
.x-column > .h-custom-headline{
  margin-top: 0;
}

//Ingress
.lead-in{
  font-size: 1.3em;
  line-height: 1.3;
}

//Blockquote
blockquote{
  border: none;
  color: $text-color !important;
  position: relative;
  padding: 1em 0 1em 3em;
  font-size: 18px;

  &:before{
    content: "";
    width: 45px;
    height: 40px;
    display: block;
    background: url('../images/blockquote.svg') center center no-repeat;
    background-size: contain;
    position: absolute;
    top:1.2em;
    left: 0px;
  }

  @media (min-width:768px){
    font-size: 24px;

    &:before{
      width:59px;
      height: 53px;
    }
  }
}

.section-references{
  blockquote{
    margin-right: 2em;
    margin-left: 2em;

    @media (min-width:768px){
      margin-right: 5em;
      margin-left: 5em;
    }
  }
}

// Bullet list
ul{
  list-style-image: url('../images/bullet-list-image.svg');
}

// Stycke
p{
  margin: 0 0 1em;
  line-height: 1.6;
}
