@charset "UTF-8";
/*
Responsive typography *************************************/
.negative-text .h-custom-headline, .negative-text p, .negative-text a {
  color: #fff; }

ul.checkbox {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.checkbox li {
    padding-left: 30px; }
    ul.checkbox li:before {
      content: '\f00c';
      font-family: "FontAwesome" !important;
      font-style: normal;
      float: left;
      color: #fab432;
      font-size: 20px;
      margin-left: -30px;
      padding-right: 10px; }

@media (min-width: 768px) {
  .site .swapcolumns .x-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .site .swapcolumns .x-column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0; }
  .site .swapcolumns .x-column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .site .swapcolumns .x-column.right {
    margin-right: 4%; } }

body {
  background-size: 360px !important; }
  body .site {
    background-color: transparent; }

.site .x-btn, .site input[type='submit'] {
  text-transform: uppercase;
  text-shadow: none;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .06em;
  line-height: 1;
  padding: .8em 1.5em .8em; }
  .site .x-btn:hover, .site input[type='submit']:hover {
    background-color: #f3a006;
    text-shadow: none;
    border-color: #f3a006; }
  .site .x-btn.btn-link, .site input[type='submit'].btn-link {
    background-color: transparent;
    color: #fab432;
    border: none;
    padding: 0;
    text-transform: none;
    border-radius: 0;
    border-bottom: 3px solid transparent;
    padding-bottom: .2em; }
    .site .x-btn.btn-link:after, .site input[type='submit'].btn-link:after {
      content: '›';
      padding-left: 7px; }
    .site .x-btn.btn-link:hover, .site input[type='submit'].btn-link:hover {
      border-bottom: 3px solid #fab432; }

.more-link {
  text-decoration: none; }

.x-recent-posts {
  margin: 0; }
  .x-recent-posts a {
    border: none;
    background-color: transparent; }
  .x-recent-posts .x-recent-posts-date {
    font-weight: 700;
    font-size: 12px;
    color: #fab432;
    letter-spacing: .04em; }
  .x-recent-posts .h-recent-posts {
    margin: 5px 0 0 0;
    font-weight: 500;
    font-size: 20px;
    color: #fff; }

.x-iso-container-posts > .hentry .entry-wrap {
  border: none;
  background-color: rgba(255, 255, 255, 0.7); }

.entry-featured {
  border: none;
  padding: 0; }

.single-miljovardsmagasinet .p-meta {
  display: none; }

.single .x-main {
  top: -60px;
  margin-bottom: -60px; }

.x-nav-tabs {
  border: none; }
  .x-nav-tabs > li a {
    background-color: #50af32;
    color: #fff; }
    .x-nav-tabs > li a:hover {
      background-color: #fff; }
  .x-nav-tabs.top > li {
    border-right: 5px solid transparent; }
    .x-nav-tabs.top > li a {
      border-bottom-color: transparent;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700; }

.x-tab-content {
  border: none; }
  .x-tab-content .x-content-band {
    padding: 0;
    margin: 0; }
  .x-tab-content p:empty {
    margin: 0; }
  .x-tab-content h3, .x-tab-content h4 {
    margin-top: 0; }

.flex-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .flex-layout .flex-1-2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
    margin-right: .65em; }
    .flex-layout .flex-1-2:nth-child(even) {
      margin-right: 0; }
    .flex-layout .flex-1-2.input-submit {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1em; }
  .form-group p {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 220px;
            flex: 1 0 220px;
    margin-right: 1em; }

.negative-text input[type='text'], .negative-text input[type='email'], .negative-text textarea {
  background-color: #68cb49;
  color: #fff; }
  .negative-text input[type='text']::-webkit-input-placeholder, .negative-text input[type='email']::-webkit-input-placeholder, .negative-text textarea::-webkit-input-placeholder {
    color: #fff; }
  .negative-text input[type='text']:-ms-input-placeholder, .negative-text input[type='email']:-ms-input-placeholder, .negative-text textarea:-ms-input-placeholder {
    color: #fff; }
  .negative-text input[type='text']::placeholder, .negative-text input[type='email']::placeholder, .negative-text textarea::placeholder {
    color: #fff; }
  .negative-text input[type='text']:focus, .negative-text input[type='email']:focus, .negative-text textarea:focus {
    background-color: #59c338; }

input[type='text'], input[type='email'], input[type='password'], textarea {
  border-width: 0;
  border-radius: 3px;
  font-size: 16px;
  background-color: #f5f2ed; }
  input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus {
    background-color: #faf9f7; }

textarea {
  height: 100px; }

.x-protect {
  background-color: transparent;
  text-align: left;
  padding: 0; }
  .x-protect input[type="text"], .x-protect input[type="password"] {
    text-align: left; }

.x-flexslider {
  background: transparent; }
  .x-flexslider .flex-control-nav {
    bottom: 0;
    right: 50%;
    top: auto;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
    .x-flexslider .flex-control-nav a {
      background-color: #fcd896; }
  .x-flexslider .flex-direction-nav a {
    top: 50%;
    color: #fab432;
    background-color: transparent;
    font-size: 20px; }
    .x-flexslider .flex-direction-nav a.flex-prev {
      left: 0; }
    .x-flexslider .flex-direction-nav a.flex-next {
      left: auto;
      right: 0; }

.hero-slider .hero-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center center; }
  .hero-slider .hero-slider-item:before {
    content: '';
    position: absolute;
    background-image: -webkit-linear-gradient(45deg, rgba(25, 27, 29, 0.2), rgba(25, 27, 29, 0.6));
    background-image: linear-gradient(45deg, rgba(25, 27, 29, 0.2), rgba(25, 27, 29, 0.6));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block; }
  @media (min-width: 768px) {
    .hero-slider .hero-slider-item {
      height: 70vh;
      min-height: 600px; } }

.hero-slider .hero-slider-item-content {
  max-width: 650px;
  text-align: center;
  z-index: 1;
  padding-left: 6%;
  padding-right: 6%;
  margin-top: -50px; }
  .hero-slider .hero-slider-item-content .h-custom-headline {
    margin-top: 0; }

.hero-slider .owl-nav {
  display: none; }

.hero-slider .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 100; }
  @media (min-width: 900px) {
    .hero-slider .owl-dots {
      bottom: 80px; } }
  .hero-slider .owl-dots .owl-dot.active span {
    background-color: #fab432; }
  .hero-slider .owl-dots .owl-dot:hover span {
    background-color: #fab432; }
  .hero-slider .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 5px;
    background: rgba(250, 180, 50, 0.7);
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 30px; }

.certificates-container .owl-nav .owl-prev, .certificates-container .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  color: #fab432; }

.certificates-container .owl-nav .owl-prev {
  left: -40px;
  right: auto; }
  .certificates-container .owl-nav .owl-prev i:before {
    content: '\f104'; }

.certificates-container .owl-nav .owl-next {
  right: -40px;
  left: auto; }
  .certificates-container .owl-nav .owl-next i:before {
    content: '\f105'; }

.x-section {
  padding: 80px 0 !important; }
  .x-section.no-top-padding {
    padding-top: 0 !important; }
  .x-section.no-bottom-padding {
    padding-bottom: 0 !important; }
  .x-section.no-padding {
    padding: 0 !important; }

.section-divider, .section-divider-green, .hero-slider {
  position: relative; }
  .section-divider:after, .section-divider-green:after, .hero-slider:after {
    content: '';
    background: url("../images/section-divider-orangegreen-mobile@2x.png") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: calc(100% * 57/601) 0 0 !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px; }
    @media (min-width: 980px) {
      .section-divider:after, .section-divider-green:after, .hero-slider:after {
        background: url("../images/section-divider_x2.png") center center no-repeat;
        padding: 8.125% 0 0 !important;
        background-size: cover; } }

.section-divider-green, .hero-slider {
  margin-top: 0;
  padding: 0 !important;
  background-color: #fff; }
  .section-divider-green:after, .hero-slider:after {
    background: url("../images/section-divider-greenwhite-mobile@2x.png") center center no-repeat;
    background-size: cover;
    padding: calc(100% * 57/601) 0 0 !important; }
    @media (min-width: 980px) {
      .section-divider-green:after, .hero-slider:after {
        background: url("../images/section-divider-green-white@2x.png") center center no-repeat;
        padding: 8.125% 0 0 !important;
        background-size: cover; } }

.blog .section-divider, .blog .section-divider-green, .blog .hero-slider, .single .section-divider, .single .section-divider-green, .single .hero-slider {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .blog .section-divider, .blog .section-divider-green, .blog .hero-slider, .single .section-divider, .single .section-divider-green, .single .hero-slider {
      margin-top: 130px; } }

.section__recent-news {
  background-color: #50af32 !important;
  padding: 10px 0 !important;
  position: relative; }

footer.x-colophon.bottom {
  background-color: #fff;
  color: #a9afb5;
  text-align: left;
  font-size: 14px;
  padding: 10px 0; }
  footer.x-colophon.bottom a {
    color: #fab432; }

footer.x-colophon .footer-logo {
  max-width: 150px; }

footer.x-colophon.top {
  background-color: #50af32;
  color: #fff;
  padding: 2% 0 2%; }
  footer.x-colophon.top h4 {
    color: #fff;
    margin-top: 0; }
  footer.x-colophon.top form {
    margin: 0; }

.section-main-content {
  margin-top: 2em !important; }
  .section-main-content .x-text, .section-main-content .x-block-grid {
    padding: 2em; }
    .section-main-content .x-text > h2, .section-main-content .x-block-grid > h2 {
      margin-top: 0; }
    @media (min-width: 1000px) {
      .section-main-content .x-text, .section-main-content .x-block-grid {
        padding: 4em; } }
    @media (min-width: 1000px) {
      .section-main-content .x-text, .section-main-content .x-block-grid {
        padding: 6em; } }
    @media (min-width: 1200px) {
      .section-main-content .x-text, .section-main-content .x-block-grid {
        padding: 10em; } }
  .section-main-content .x-column:nth-child(2n) {
    min-height: 300px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .section-main-content .x-column:nth-child(2n) {
        background-position: center center; } }

.section-page-hero {
  position: relative;
  padding: 50px 0 !important; }
  .section-page-hero:before {
    content: '';
    position: absolute;
    background-image: -webkit-linear-gradient(45deg, rgba(25, 27, 29, 0.4), rgba(25, 27, 29, 0.6));
    background-image: linear-gradient(45deg, rgba(25, 27, 29, 0.4), rgba(25, 27, 29, 0.6));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block; }
  .section-page-hero .x-container {
    max-width: 800px !important;
    text-align: center;
    height: 100%; }
  .section-page-hero .x-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    .section-page-hero .x-column p {
      margin: 0; }

.section__overview .x-block-grid h3 {
  margin-top: 0; }

.block-grid {
  padding: 2em !important; }
  .block-grid.block-grid-bg {
    background-color: rgba(255, 255, 255, 0.7); }

.equal-height-blockgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .equal-height-blockgrid li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3em; }
  @media (max-width: 979px) {
    .equal-height-blockgrid.three-up > li:nth-child(3) {
      margin-top: 3em; } }
  .equal-height-blockgrid .x-btn {
    margin: auto 0 0 auto;
    display: inline-table; }
  .equal-height-blockgrid .x-recent-posts .h-recent-posts {
    color: #5b636a; }
  .equal-height-blockgrid .x-recent-posts .x-recent-posts-date {
    color: #a9afb5; }

.single article {
  max-width: 800px;
  margin: 0 auto; }

.single .x-entry-share {
  border-top: 5px solid #fab432;
  border-bottom: none;
  max-width: 800px;
  margin: 2em auto 0 auto; }

.single .entry-title:before {
  background-color: transparent;
  color: #50af32; }

.single .x-recent-posts .h-recent-posts {
  color: #50af32; }

.single .x-recent-posts .x-recent-posts-date {
  color: #a9afb5; }

.single .x-recent-posts a {
  background-color: #fff; }

.single .x-recent-posts p {
  margin-bottom: 0;
  line-height: 1.4; }

.x-header-landmark .x-landmark {
  padding-right: 0;
  width: 100%; }

.x-header-landmark .h-landmark {
  letter-spacing: 0;
  font-weight: 700; }

.page-template-template-portal .site .portal-content {
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 2em;
  position: relative; }
  .page-template-template-portal .site .portal-content .entry-content > h2, .page-template-template-portal .site .portal-content .entry-content h3, .page-template-template-portal .site .portal-content .entry-content h4 {
    margin-top: 0; }
  .page-template-template-portal .site .portal-content .x-sidebar .h-widget {
    margin-top: 0; }
  @media all and (min-width: 981px) {
    .page-template-template-portal .site .portal-content .logout {
      position: absolute;
      bottom: 2em;
      left: 2em; } }

.x-map {
  margin-bottom: 0; }

.section-map .x-block-grid {
  margin-bottom: 0; }

.section-map .x-map-inner {
  padding-bottom: 300px; }
  @media (min-width: 768px) {
    .section-map .x-map-inner {
      padding-bottom: 400px; } }
  @media (min-width: 1000px) {
    .section-map .x-map-inner {
      padding-bottom: 600px; } }

.location-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .location-menu li {
    margin: 0 10px 10px 0;
    line-height: 1; }
    .location-menu li.current a {
      background-color: #50af32; }
    .location-menu li a {
      background-color: #89d671;
      display: block;
      padding: .3em .5em;
      color: #fff; }
      .location-menu li a:hover {
        background-color: #50af32; }

section.tab-content {
  padding: 50px 0 !important; }
  section.tab-content .city-content {
    background-color: #f5f2ed;
    border-radius: 4px;
    padding: 2em; }
    section.tab-content .city-content h4 {
      margin-top: 0; }
  section.tab-content .x-block-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    section.tab-content .x-block-grid > li {
      margin-top: 3em; }
    @media (max-width: 979px) {
      section.tab-content .x-block-grid.four-up > li:nth-child(3n), section.tab-content .x-block-grid.four-up > li:nth-child(4n) {
        margin-top: 3em; } }
  section.tab-content .staff-content {
    font-size: .925em; }
    section.tab-content .staff-content .staff-role {
      font-style: italic; }
  section.tab-content .x-ul-icons .x-icon-phone:before {
    content: '\f095'; }
  section.tab-content .x-ul-icons .x-icon-envelope-o:before {
    content: '\f003'; }

.section-partners {
  text-align: center;
  padding: 30px 0 50px !important; }
  @media (min-width: 768px) {
    .section-partners {
      padding: 30px 0 100px !important; } }
  @media (min-width: 1200px) {
    .section-partners {
      padding: 50px 0 150px !important; } }

.x-navbar {
  margin: 0 auto;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  box-shadow: 0 15px 50px 0 rgba(50, 50, 50, 0.12); }
  .x-navbar .x-navbar-inner {
    min-height: 70px; }
    @media (min-width: 980px) {
      .x-navbar .x-navbar-inner {
        min-height: 90px; } }
  .x-navbar .brand {
    margin-left: 4%; }
  .x-navbar .x-brand {
    margin: 0;
    background-image: url("../images/nmv-logo-neg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 126px;
    height: 50px;
    text-indent: -9999px;
    overflow: hidden;
    background-position: 0 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    @media (min-width: 980px) {
      .x-navbar .x-brand {
        width: 175px;
        height: 69px; } }
  .x-navbar .offcanvas-menu {
    color: #fff;
    margin-right: 4%; }
    .x-navbar .offcanvas-menu .menu-bar-text {
      margin-right: 6px;
      letter-spacing: .08em; }
    .x-navbar .offcanvas-menu .menu-bar {
      background-color: #fab432;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 500px;
      color: #fff; }
      .x-navbar .offcanvas-menu .menu-bar i {
        line-height: 1;
        font-size: 1.2em;
        vertical-align: middle; }
  .x-navbar .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px; }
    @media (min-width: 980px) {
      .x-navbar .flex-container {
        height: 90px; } }
  .x-navbar.x-navbar-fixed-top .desktop .x-nav > li:first-child > a {
    padding-left: 0; }
  @media (min-width: 980px) {
    .x-navbar.shrink {
      background-color: #50af32 !important; }
      .x-navbar.shrink .x-brand {
        width: 130px;
        height: 51px; }
      .x-navbar.shrink .x-navbar-inner {
        min-height: 70px;
        background-image: none; }
      .x-navbar.shrink .flex-container {
        height: 70px; }
      .x-navbar.shrink .desktop .x-nav > li > a {
        height: 70px;
        padding-top: 26px; }
      .x-navbar.shrink .x-brand {
        background-image: url("../images/nmv-logo-neg.svg"); }
      .x-navbar.shrink .offcanvas-menu {
        color: #fff; }
      .x-navbar.shrink .desktop .x-nav > li > a {
        color: #fff !important; }
      .x-navbar.shrink .desktop .x-nav > li > a:hover > span, .x-navbar.shrink .desktop .x-nav > li.x-active > a > span, .x-navbar.shrink .desktop .x-nav > li.current-menu-item > a > span {
        box-shadow: 0 2px 0 0 #fff !important; } }
  .x-navbar .desktop .x-nav li > a > span:after {
    content: "\f107" !important; }
  .x-navbar .desktop .sub-menu {
    font-size: 17px;
    padding: 0;
    text-align: center;
    width: 260px;
    left: -80px !important;
    right: auto !important; }
    .x-navbar .desktop .sub-menu:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #fbfbfb;
      width: 20px;
      height: 20px;
      top: -8px;
      left: 0;
      right: 0;
      margin: 0 auto;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      z-index: -1; }
    .x-navbar .desktop .sub-menu li {
      border-bottom: 1px solid #cbedc0; }
      .x-navbar .desktop .sub-menu li:last-child {
        border-bottom: none; }
      .x-navbar .desktop .sub-menu li > a {
        color: #68cb49 !important;
        padding: .5em 1em;
        background-color: #fbfbfb; }
        .x-navbar .desktop .sub-menu li > a:hover {
          color: #50af32 !important; }

@media (min-width: 980px) {
  .hide-desktop {
    display: none; } }

@media (max-width: 979px) {
  .menu-bar-text {
    display: none; } }

#sfm-sidebar .sfm-menu li a, #sfm-sidebar .sfm-search-form {
  text-transform: none !important; }

@media (min-width: 980px) {
  .sfm-menu-item-39, .sfm-menu-item-38, .sfm-menu-item-37, .sfm-menu-item-36 {
    display: none; } }

.site .x-column > h1:first-child, .site .x-column > h2:first-child, .site .x-column > h3:first-child, .site .x-column > h4:first-child, .site .x-text > h1:first-child, .site .x-text > h2:first-child, .site .x-text > h3:first-child, .site .x-text > h4:first-child, .site .entry-header > h1:first-child, .site .entry-header > h2:first-child, .site .entry-header > h3:first-child, .site .entry-header > h4:first-child {
  margin-top: 0; }

.site h1, .site .h1 {
  font-size: 200%;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    .site h1, .site .h1 {
      font-size: 200%; } }
  @media screen and (min-width: 768px) {
    .site h1, .site .h1 {
      font-size: 280%; } }

.site h2, .site .h2 {
  font-size: 180%;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    .site h2, .site .h2 {
      font-size: 220%; } }

.site h3, .site .h3 {
  font-size: 150%;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    .site h3, .site .h3 {
      font-size: 180%; } }

.site h4, .site .h4 {
  font-size: 120%;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    .site h4, .site .h4 {
      font-size: 150%; } }
  @media screen and (min-width: 768px) {
    .site h4, .site .h4 {
      font-size: 150%; } }

.site h1, .site h2, .site h3, .site h4, .site h5, .site h6, .site .h1, .site .h2, .site .h3, .site .h4, .site .h5, .site .h6 {
  margin-top: 1em;
  margin-bottom: .2em; }

.h-line:after {
  content: '';
  width: 100px;
  height: 6px;
  background-color: #fab432;
  display: block;
  text-align: center;
  margin: .4em auto .4em; }

.x-column > .h-custom-headline {
  margin-top: 0; }

.lead-in {
  font-size: 1.3em;
  line-height: 1.3; }

blockquote {
  border: none;
  color: #5b636a !important;
  position: relative;
  padding: 1em 0 1em 3em;
  font-size: 18px; }
  blockquote:before {
    content: "";
    width: 45px;
    height: 40px;
    display: block;
    background: url("../images/blockquote.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 1.2em;
    left: 0px; }
  @media (min-width: 768px) {
    blockquote {
      font-size: 24px; }
      blockquote:before {
        width: 59px;
        height: 53px; } }

.section-references blockquote {
  margin-right: 2em;
  margin-left: 2em; }
  @media (min-width: 768px) {
    .section-references blockquote {
      margin-right: 5em;
      margin-left: 5em; } }

ul {
  list-style-image: url("../images/bullet-list-image.svg"); }

p {
  margin: 0 0 1em;
  line-height: 1.6; }
